  /* For Tablet: */
@media(max-width: 768px) {

  .deskripsi{
    padding-right: 1rem !important;
   
  }
  .commongambar{
    width: 100% !important; 
  }
 
}
/* buat hape */
@media (max-width: 576px) {
  .sosial{
    width: 20% !important;
  }
  .sosial.instagram{
    margin-left: 85px !important;
  }
  .footer{
    font-size: 28pt !important;
  }
  .gojek{
    width: 100% !important;
    padding: 50px;
  }
  .gofood{
    width: 100% !important;
    margin: 75px 0px;
    padding: 50px;
    padding-bottom: 0 !important;
  }
  .navresp {
   margin-left: 0 !important;
  }
  .logo{
    margin-left: 160px !important;
  }
  .baris{
    margin: 20px !important;
  }
  .judul{
    font-size: 25px !important;
    padding: 30px;
    padding-bottom: 0 !important;
  }
  .deskripsi{
    font-size: 18px !important;
    padding: 30px;
    padding-top: 0 !important;
    padding-bottom: 0;
  }
  .historybtn{
    margin: 30px;
    margin-top: 0;
    width: 50%;
  }
.iconmenu{
  width: 20% !important;
  height: 70px !important;
}
.map{
  width: 300 !important;
  height: 300 !important;
  padding: 10px !important;
}
#section3{
  height: 440vh !important;
}
.parallax{
  height: 10% !important; 
}
.parallax2{
  height: 10% !important; 
}
.fontresp{
  font-size: 30px !important;
  text-align: center !important;
}
.alamatinfo{
  margin: 0 !important;
}
#section4{
  height: 120vh !important;
}
#section5{
  height: 170vh !important;
}
}
@font-face{
      font-family: 'Open-Sans';
      src: url('../font/opensans-regular.woff2') format('woff2'),
           url('../font/opensans-regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  @font-face{
      font-family: 'Product-Sans';
      src: url('../font/product_sans_regular.woff2') format('woff2'),
           url('../font/product_sans_regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  @font-face{
    font-family: 'slick';
    src: url('../font/slick.woff') format('woff2'),
         url('../font/slick.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
a{
  text-decoration: none !important;
}
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: black; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #211f20; 
    }
  html{
      scroll-behavior: smooth;
      user-select: none;
  }
body{
   overflow-x: hidden;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  

.ps{
font-family: 'Product-Sans';
}

.arrow{
    width: 4%; 
    margin-top: 225px;
    transition: 1s;
}
.arrow:hover{
    margin-top: 250px;  
}
.alamat{ 
  margin-top: 20px;
}
section{
  height: 100vh;
  background-color: black;
}
.deskripsi{
  padding-right: 5rem;
} 
.commongambar{
  width: 30%;
}
.fontheader{
  font-size: 35pt;
}
.fontheader2{
  font-size: 15pt;
}
.fontbody{
  font-size: 18px;
}
.fontkecil{
  font-size: 15px;
}
.parallax {
  /* The image used */
  background-image: url('../img/kopi.jpeg');

  /* Full height */
  height: 20%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url('../img/coklatwp.jpeg');

  /* Full height */
  height: 50%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bintang{
  margin: 3px;
  width: 25px;
  float: left;
}
.bintang.besar{
  margin: 3px;
  width: 60px;
}
.potokecil{
  height: 60px; 
  width: 60px; 
}
.localguide{
  position: absolute; 
  margin-top: 45px; left: 0; 
  margin-left: 82.5px;
}
#section4{
  background-color: black; 
  height: 100vh;
}
#section5{
  background-color: black;
  height:45vh;
}
