@media(max-width: 768px) {
  /* For mobile phones: */
  .deskripsi{
    padding-right: 1rem !important;
   
  }
  .commongambar{
    width: 100% !important; 
  }
 
}
@media (max-width: 576px) {
  .navresp {
   margin-left: 0 !important;
  }
  .logo{
    margin-left: 160px !important;
  }
  .baris{
    margin: 20px !important;
  }
  .judul{
    font-size: 25px !important;
    padding: 30px;
    padding-bottom: 0 !important;
  }
  .deskripsi{
    font-size: 18px !important;
    padding: 30px;
    padding-top: 0 !important;
    padding-bottom: 0;
  }
  .historybtn{
    margin: 30px;
    margin-top: 0;
    width: 50%;
  }
}
@font-face{
      font-family: 'Open-Sans';
      src: url('../font/opensans-regular.woff2') format('woff2'),
           url('../font/opensans-regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }
  @font-face{
      font-family: 'Product-Sans';
      src: url('../font/product_sans_regular.woff2') format('woff2'),
           url('../font/product_sans_regular.woff') format('woff');
      font-weight: normal;
      font-style: normal;
  }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: black; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #211f20; 
    }
  html{
      scroll-behavior: smooth;
      user-select: none;
  }
body{
   overflow-x: hidden;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  

.ps{
font-family: 'Product-Sans';
}

.arrow{
    width: 4%; 
    margin-top: 225px;
    transition: 1s;
}
.arrow:hover{
    margin-top: 250px;  
}
.alamat{
  font-family:'times new roman'; 
  margin-top: 20px;
}
section{
  height: 100vh;
  background-color: black;
}
.deskripsi{
  padding-right: 5rem;
} 
.commongambar{
  width: 30%;
}
.fontheader{
  font-size: 35pt;
}
.fontheader2{
  font-size: 15pt;
}
.fontbody{
  font-size: 18px;
}